<div class="container">
 
  <div class="row">
   <div class="col-md-4"></div>
  <div class="col-md-4 text-center">
  <h2>Welcome To Homify</h2>
  <div class="panel-group">


    <div class="panel panel-primary">
      <div class="panel-heading">Click the links below</div>
      <div class="panel-body">
		<ul class="list-group">
		   <li class="list-group-item"><%= link_to 'Register as Expert', new_expert_registration_path %></li>
		   <li class="list-group-item"><%= link_to 'Login as Expert', new_expert_session_path %></li>
		   <li class="list-group-item"><%= link_to 'Register as Novice', new_novice_registration_path %></li>
		   <li class="list-group-item"><%= link_to 'Login as Novice', new_novice_session_path %></li>
		</ul>      	

      </div>
    </div>
  </div>
  </div>
  <div class="col-md-4"></div>
  </div>
</div>